Repository AgoraIO-Extensions/Agora-Flutter-SDK, pull requests merged in 2024-11, with the labels that each got.

#2073 feat: upgrade native sdk dependencies 20241106
  android/build.gradle
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/c/c_player.h
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/rte_cpp_callback_utils.h
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/rte_cpp_canvas.h
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/rte_cpp_error.h
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/rte_cpp_player.h
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/rte_cpp_rte.h
  internal/deps_summary.txt
  ios/agora_rtc_engine.podspec
  macos/agora_rtc_engine.podspec
  scripts/artifacts_version.sh
  windows/CMakeLists.txt
Labels: version:special, ci:skip

#2084 feat: upgrade native sdk 4.2.6.248-build.2
  android/build.gradle
  internal/deps_summary.txt
  ios/agora_rtc_engine.podspec
  pubspec.yaml
  scripts/artifacts_version.sh
Labels: version:special, ci:ready_release_special

#2100 feat: support 4.3.1.201
  .gitignore
  android/build.gradle
  example/assets/lengbai32
  example/assets/nenbai32
  example/assets/yuansheng32
  example/lib/examples/advanced/set_beauty_effect/set_beauty_effect.dart
  example/lib/main.dart
  example/pubspec.yaml
  internal/deps_summary.txt
  ios/agora_rtc_engine.podspec
  lib/src/agora_base.dart
  lib/src/agora_base.g.dart
  lib/src/agora_media_base.dart
  lib/src/agora_media_base.g.dart
  lib/src/agora_media_engine.dart
  lib/src/agora_media_player.dart
  lib/src/agora_media_player_source.dart
  lib/src/agora_media_player_types.dart
  lib/src/agora_rtc_engine.dart
  lib/src/agora_rtc_engine.g.dart
  lib/src/agora_rtc_engine_ex.dart
  lib/src/binding/agora_media_player_impl.dart
  lib/src/binding/agora_rtc_engine_impl.dart
  lib/src/binding/call_api_event_handler_buffer_ext.dart
  lib/src/binding/call_api_impl_params_json.dart
  lib/src/binding/call_api_impl_params_json.g.dart
  lib/src/impl/media_player_controller_impl.dart
  macos/agora_rtc_engine.podspec
  pubspec.yaml
  scripts/artifacts_version.sh
  test_shard/fake_test_app/integration_test/generated/mediaplayer_fake_test.generated.dart
  test_shard/fake_test_app/integration_test/generated/mediarecorder_fake_test.generated.dart
  test_shard/fake_test_app/integration_test/generated/rtcengine_fake_test.generated.dart
  tool/terra/terra_config_main.yaml
  windows/CMakeLists.txt
Labels: ci:ready_release_special

#2110 feat: upgrade native sdk dependencies 20241125
  README.md
  android/build.gradle
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/c/c_rte.h
  android/src/main/cpp/third_party/include/agora_rtc/rte_base/rte_cpp_rte.h
  example/web/index.html
  internal/deps_summary.txt
  ios/agora_rtc_engine.podspec
  macos/agora_rtc_engine.podspec
  scripts/artifacts_version.sh
  scripts/iris_web_version.js
Labels: version:special, ci:skip

#2106 feat: upgrade native sdk 4.2.6.147
  android/build.gradle
  internal/deps_summary.txt
  ios/agora_rtc_engine.podspec
  macos/agora_rtc_engine.podspec
  pubspec.yaml
  scripts/artifacts_version.sh
  windows/CMakeLists.txt
Labels: version:special, ci:ready_release_special
